@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
  font-family: "gilroy";
  src: url("../../Mooli-Regular.ttf");
}

* {
  font-family: gilroy;
} */

::selection {
  color: rgb(235, 146, 45);
}
